
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* background image (wood.jpg) is from Jon Moore @thejmoore via unsplash.com */
.container {
  background-image: url(./images/wood.jpg);
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}

/* Welcome text under logo */
h5 {
  color: white;
}

/* Footer */
.footer {
text-align: center;
}
